html {
	box-sizing: border-box;
}

*, *:before, *:after {
	  box-sizing: inherit;
}

body, ul {
 margin: 0;
 padding: 0;
}



body {
    font-family: $bodyfont;
    font-weight: $notbold;
    background-color: $bgcolour;
}

.main-page {
    background: url("../img/texture2.svg") no-repeat center center fixed, url("../img/texture3.svg")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $textcolour;
    background-color: $bgcolour;
}

a {
    text-decoration: none;
    color: $textcolour;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $notbold;
}