.sidebar {
    font-size: 1.1*$sideitemsize;
    text-align: right;
    position: fixed;
    padding: 0px 20px 0px 0px; 
    margin: 40px 0px 0px -20px;
    border-right: $accent2 2px solid;
}

.sidebar .header-title {
    font-size: 1.9*$headersize;
    width: 20vw;
    padding: 0px 0px 1.5vh 0px;    
}




ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding-top: 10px;
}



.currentpage {
    font-weight: $bold;
    color: $accent1;
}

nav ul a:hover {
    font-weight: $bold;
}