.layout {
    display: flex;
    flex-direction: row;
    width: 85vw;
    margin: auto;
    height: 100%;
}



.work {
    width: 60vw;
    max-width: 650px;
    margin-left: 22vw;
    padding: 40px 20px 0px 20px;
    color: $textcolour;
}

.project-header {
    font-size: 1.8em;
    font-weight: $bold;
}




iframe {
    position: absolute;
    
    top: 0;
    left: 0;
    border: 0;
    
    width: 100%;
}

.iframe-wrap {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    
}




.work img {
    width: 100%;
}

h4 {
    margin-bottom: 25px;
}

h5 {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 30px;
}


.about-back {
    font-size: 0.9em;
    display: block;
    overflow: hidden;
    width: 70vw;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 7vh;
}

.about-back a {
    color: $accent1;
}

.about-back a:hover {
    font-weight: $bold;
}

.email-link a:hover {
    color: $accent2;
}




.previous-next-nav {
    font-size: 0.9em;
    display: block;
    overflow: hidden;
    width: 70vw;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 7vh;
}

.previous-next-nav a {
    display: block;
    color: $accent1;
    max-width: 50%;
}

.previous-next-nav a:hover {
    font-weight: $bold;
}

.previous-next-nav .prev {
    text-align: left;
    float: left;
}

.previous-next-nav .next {
    text-align: right;
    float: right;
}





@media only screen and (min-width: 821px) {
    
    .previous-next-nav {
        display: none;
    }
    .about-back {
        display: none;
    }
}

@media only screen and (max-width: 820px) {
    
    .sidebar {
        display: none;
        visibility: hidden;
    }
    
    .layout {
        width: 70vw;
    }
    
    .work {
        width: inherit;
        margin-left: 0;
        padding: 10vh 0 0 0;
    }
    .project-header {
        font-size: 1.5em;
    }
    
    .work h4 {
        font-size: 0.95em;
    }
    
    .work h5 {
        font-size: 0.8em;
    }
    
    .work {
        padding: 8vh 0 0 0;
    }
    
}

@media only screen and (max-width: 590px) {
    
    .layout {
        width: 85vw;
    }
    
    .about-back, .previous-next-nav {
        width: 85vw;
    }
    
}