$bgcolour: #222222;
$textcolour: #FFF9EC;
$accent1: #FFE099;
$accent2: #BF5F7D;

$bodyfont: 'Open Sans', sans-serif;
$displayfont: 'Bigshot One', 'Ultra', 'Readex Pro', sans-serif;
$bold: 700;
$semibold: 500;
$notbold: 300;

$headersize: 1.1em;
$sideitemsize: 0.85em;