$bgcolour: #222222;
$textcolour: white;
$accent1: #f9eab6;
$accent2: #fb8b76;

$bodyfont: 'Readex Pro', sans-serif;
$displayfont: 'Bigshot One', 'Ultra', 'Readex Pro', sans-serif;
$bold: 600;
$notbold: 300;

$headersize: 1.1em;
$sideitemsize: 0.85em;