<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    
    <div class="layout">
    
        <div class="sidebar">
            
            <nav>
                <div class="header-title"><a href="{{site.url}}">Rachelle<br>Willemsma</a></div>
                <ul>
                    {% for post in site.posts %}
                    {% if page.title == post.title %}
                <li>
                    <a href="{{ site.baseurl }}{{ post.permalink }}" class="currentpage">
                        {{ post.brief-header }}
                    </a>
                </li>
                    {% else %}
                <li>
                    <a href="{{ site.baseurl }}{{ post.permalink }}">
                    {{ post.brief-header }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                <li>
                <a href="{{ "/about/" | prepend: site.baseurl }}" class="currentpage">About Me</a>
                </li>
        
                </ul>
            </nav>
            
            
        </div>
    
        <div class="work">
            <div class="project-header">About Me</div>
            <h4 class="project-description">Hello! I'm Rachelle, a Toronto-based designer and graduate from the York-Sheridan design program (YSDN). I love information, linguistics, maps, and colour. In my spare time, you can find me making spreadsheets, learning languages, and making language-learning spreadsheets.</h4>
            <h4 class="project-description">I'm currently looking for a work opportunity. If you're interested in working with me, you can reach me at <span class="email-link">
                <script type="text/javascript">
                    emailE='willemsma.design'
                    emailE=('rachelle' + '@' + emailE)
                    document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>.')
                </script>
            </span>
                <noscript>
                    <em>(I respect not wanting to go around the internet with Javascript on however I really don't want a swarm of spam emails. To see my email, you can either look at the code with inspect element or enable Javascript for this webpage.)</em>
                </noscript>
            </h4>
        </div>
        
        
        
    </div>
    <div class="about-back"><a href=" {{site.url}} ">&laquo;&nbsp;back</a></div>
</body>
    

</html>