<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="main-page">
    
    <header class="header-grid"> 
        <div class="header-item side-item"><a href="{{ "/basement/" | prepend: site.baseurl }}">work</a></div>
        <div class="header-item header-title">Rachelle Willemsma</div>
        <div class="header-item side-item"><a href="{{ "/about/" | prepend: site.baseurl }}">about</a></div>
    </header>
    <header class="mobile-header-grid">
        <div class="header-item"><a href="{{ "/basement/" | prepend: site.baseurl }}">work</a> | <a href="{{ "/about/" | prepend: site.baseurl }}">about</a></div>
    </header>
    
    {% include grid.html %}
    
</body>

</html>