<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="main-page">
    
    <header class="header-grid"> 
        <div class="header-item"><a href="index.html">work</a></div>
        <div class="header-item header-title"><a href="index.html">RACHELLE WILLEMSMA</a></div>
        <div class="header-item"><a href="#">about</a></div>
    </header>
    
    <div class="work-grid">
        <div class="grid-item"><a href="books.html"><img src="img/books-500px.jpg"></a></div>
        <div class="grid-item"><a href="#"><img src="img/chinese-500px.jpg"></a></div>
        <div class="grid-item"><a href="cra.html"><img src="img/cra-500.jpg"></a></div>
        <div class="grid-item"><a href="#"><img src="img/endangered-500px.jpg"></a></div>
        <div class="grid-item"><a href="#"><img src="img/icecream-500px.jpg"></a></div>
        <div class="grid-item"><a href="#"><img src="img/globe-500px"></a></div>
        <div class="grid-item"><a href="#"><img src="img/shadowbox-500px.jpg"></a></div>
        <div class="grid-item"><a href="#"><img src="img/singapore-500px.jpg"></a></div>
        <div class="grid-item"><a href="#"><img src="img/sunrise-500px.jpg"></a></div>
        <div class="grid-item"><a href="#"><img src="img/toronto1-500px.jpg"></a></div>
    </div>
    
</body>

</html>