<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    
    <div class="layout">
    
        <div class="sidebar">
            
            
            {% include nav.html %}
            
            
        </div>
    
        <div class="work">
            <div class="project-header">{{page.header}}</div>
            <p class="project-description">A combination of stop motion animation and information design, this short film displays my collection of books in various ways. The project explores the footprint left by a person’s objects. Includes 55 books and over (#) individual photographs.</p>
            <iframe src="https://player.vimeo.com/video/377467532" width="100%" height="400px" overflow="hidden" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
            
            {{ content }}
        </div>
        
    </div>
    
</body>
    

</html>