<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    
    <div class="layout">
    
        <div class="sidebar">
            
            
            {% include nav.html %}
            
            
        </div>
    
        <div class="work">
            <div class="project-header">{{page.header}}</div>
            <p class="project-description">{{ content }}</p>
        </div>
        
        
        
        
    </div>
    
    
    <div class="previous-next-nav">
        {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">{{page.next.brief-header}}&nbsp;&raquo;</a>
        {% endif %} 
        {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.brief-header}}</a>
        {% endif %}
    </div>
    
</body>

</html>