<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    
    <div class="layout">
    
        <div class="sidebar">
            
            <div class="header-title"><a href="index.html">Rachelle<br>Willemsma</a></div>
            <ul>
                <li><a href="#" class="active">books stop motion</a></li>
                <li><a href="#">singapore national day</a></li>
                <li><a href="#">inuvik sunrise festivals</a></li>
                <li><a href="#">languages of toronto</a></li>
                <li><a href="#">endangered languages</a></li>
                <li><a href="#">globe and mail redesign</a></li>
                <li><a href="#">linocut typography</a></li>
                <li><a href="#">ice cream app</a></li>
                <li><a href="#">shadowbox</a></li>
                <li><a href="#">CRA work</a></li>
                <li><a href="#">about</a></li>
            </ul>   
            
        </div>
    
        <div class="work">
            <div class="project-header">{{page.header}}</div>
            <p class="project-description">A combination of stop motion animation and information design, this short film displays my collection of books in various ways. The project explores the footprint left by a person’s objects. Includes 55 books and over (#) individual photographs.</p>
            <iframe src="https://player.vimeo.com/video/377467532" width="100%" height="400px" overflow="hidden" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
        </div>
        
    </div>
    
</body>
    

<script>

</script>
</html>